<nav class="bg-[#20948B] p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/blog" class="text-white text-xl font-semibold">Firebase Blog</a>
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="/create-post"
          class="bg-[#6AB187] py-2 px-4 rounded-md font-bold text-white"
          >+ Post</a
        >
      </li>
      <li>
        <a routerLink="/profile" class="text-white font-bold">Profile</a>
      </li>
      <li>
        <button (click)="logout()" class="text-white font-bold">LogOut</button>
      </li>
    </ul>
  </div>
</nav>