<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/blog" class="text-green-600 text-xl font-semibold">Firebase Blog</a>
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/create-post" class="bg-green-600 py-1 px-2 rounded-md font-bold text-gray-300 hover:text-white">+ Post</a>
      </li>
      <!-- <li>
        <a routerLink="/register" class="text-gray-300 hover:text-white">Register</a>
      </li> -->
      <li>
        <a routerLink="/login" class="text-gray-300 hover:text-white">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Dynamic Routing Views -->
<div class="container mx-auto py-10">
  <router-outlet></router-outlet>
</div>
